* {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 0 20px 0;
}

/* button */
.inputbox {
    margin: 20px auto;
    text-align: center;
    font-size: 24px;
    padding: 10px 0px;

    #scoreInput {
        text-align: center;
        border: grey 0.5px solid;
        height: 40px;
        width: 100px;
        vertical-align: middle;
    }

    #button {
        text-align: center;
        height: 40px;
        justify-content: center;
        vertical-align: middle;

        margin: 0 10px;
        padding: 0 10px;
        font-size: 24px;

        border-radius:2px;
        background:#FFD280;
        color:#fff;
        font-weight:bold;
        border:none;
    }
}

/* カード全体のスタイル */
#bingo{
    width: 95%;
    margin: 0 auto;
    font-size: 18px;
    padding: 20px;
    // border: 1px solid #DADADA;
}

/* B I N G O の文字のスタイル */
#bingo th{
    color: #ee7800;
    font-size: 24px
}

/* 番号のスタイルを設定 */
#bingo td {
    font-weight: normal;
    width: 20%;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border-radius: 1.5rem 1.5rem 0 0;
    color: #ee7800;
    background-color: #fff;
    border: 2px solid #ee7800;
}

/* 番号をチェックした時に変更するクラス、スタイルを設定 */
#bingo td.clicked {
    color: #fff;
    background-color: #ee7800;
}

header {
    width: 100%;
    padding: 20px 4% 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border: grey 0.5px solid;

    h1 {
        margin: 0;
        padding: 0;
        font-size: 32px;
    }

    a {	
        text-decoration: none;
        color: #4b4b4b;
    }

    ul {
        list-style: none;
        margin: 0;
        display: flex;
    }

    li {
        margin: 0 0 0 15px;
        font-size: 18px;
    }

    nav {
        margin: 0 0 0 auto;
    }
}